/*=====================================
=            PROJECT STYLE            =
=====================================*/
// TODO: RESET STYLE;
//-------------------------------------
a:focus {
	outline: none;
}
li {
	list-style: none;
}
// TODO: DEFINE STYLE;
//-------------------------------------


// TODO: MODULE STYLE
//-------------------------------------
